<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'db')}">
<body>
<div class="container">
    <h1>Database Input</h1>
    <form method="POST" action="/dbinput">
        <div class="form-group">
            <label for="inputString">Enter a string:</label>
            <input type="text" class="form-control" id="inputString" name="inputString" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>
